.cards-item__image {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-item__text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.cards-item__name {
    position: absolute;
    top: -25px;
    color: white;
    background-color: rgb(254, 129, 34);
    padding: 10px 40px 10px 20px;
    z-index: 1;
    font-weight: bold;
}

.cards-item__description{
    border-radius: 0px 0px 5px 5px;
    bottom:0;
    left:0;
    right:0;
    padding: 20px;
    background: rgba(255,255,255,0.9)
}