
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  background: rgba(247, 250, 251, 0.8);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.header__logo {
  padding-left: 25px;
}

.header-menu__navigation {
  display: flex;
  width: 35%;
  align-items: center;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.navigation-header__item {
  list-style-type: none;
  padding-bottom: 5px;
  height: 25px;
}

.header__registration {
  padding-right: 25px;
}

.navigation-header{
  display: flex;
  width: 60%;

  justify-content: space-around;
}

.navigation-header__link {
  text-decoration: none;
  color: #283493;
  font-family: sans-serif;
  font-weight: bold;
}

.header__registration-link {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  background-color: #5F5FC4;
  border-radius: 50%;
}

.navigation-header__item:hover {
  border-bottom: 3px solid #F58021;
}

.active {
  border-bottom: 3px solid #F58021;
}

.header__registration-link:hover {
  color: #ffffff;
  background-color: #F58021;

}

.main-menu {
  display:  flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}


.main-menu__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu__list {
  width: 60%;
}

@media (max-width: 1250px) {
  .header-menu__navigation {
    display: flex;
    width: 45%;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .header-menu__navigation {
    display: flex;
    width: 45%;
    align-items: center;
  }
}

.menu-mobile {
  display: none;
}

.menu-mobile__button {
  color: #283493;
  font-family: sans-serif;
  font-size: 22px;
  padding: 5px;
}



.mat-menu-item{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #283493;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.mat-menu-item:hover {
  border-bottom: 2px solid #F58021;
}


.menu-mobile__button:hover {
  background: #FFFFFF;
  border: 2px solid #283493;
  color: #283493;
}

@media (max-width: 992px) {
  .menu-mobile {
    display:flex;
  }

  .main-menu {
    display: none;
  }

  .navigation-header {
    display: none;
  }

  .header-menu__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
