<div class="registration">
  <div class="registration__left-side">
    <img src="../assets/img/plane.jpg" class="right-side__background">
  </div>
  <div class="registration__right-side">
    <form class="form validate-form login" #authForm="ngForm" (submit)="onSubmit(authForm)">
      <div class="form-container">
        <header class="head-form">
          <h2>Sign Up/In</h2>
          <p>Sign Up/In here in order to use this service</p>
        </header>
        <br>
        <div class="form__field-set">
          <div class="inputs">
            <span class="input-item">
              <img src="../assets/img/email.svg" class="registration__image">
            </span>
            <input class="form-input" id="email" type="text" ngModel placeholder="Email" name="email" required email
              #email="ngModel" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            Email is not valid, plesae enter valid email
          </div>
          <br>
          <br>
          <div class="inputs">
            <span class="input-item">
              <img src="../assets/img/lock.svg" class="registration__image">
            </span>
            <input class="form-input" type="password" placeholder="Password" ngModel id="password" name="password"
              #password="ngModel" minlength="6" required
              tooltip="Please enter a password of at least 6 characters using uppercase letters and numbers"
              pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}$">
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            Password is not valid, plesae enter valid password
          </div>
          <br>
          <button class="form__field-set-button" type='submit' [disabled]="!authForm.valid">
            {{isLogin ? 'Login' : 'Sign Up'}} </button>
          <button class="form__field-set-button" (click)="onSwitchModel()" type="button">Switch to
            {{isLogin ?  'Sign Up': 'Login'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
