<div class="card-info">
    <h3 class="section-title card-info__title">Billing Information</h3>
    <div class="card-info__container">
        <form [formGroup]="cardInfo" (ngSubmit)="onSubmit()" class="card-form">
            <div class="card-form__number">
                <label for="cardNumber">Card number</label>
                <input type="text" id="cardNumber" placeholder="0000000000000000" formControlName="number"
                    (keypress)="onNANInput($event); onMaxLength($event, 16)" 
                    (focus)="onFocus('number')" 
                    (blur)="onBlur()"
                    (paste)="onPaste($event)"
                    
                >
            </div>
            <div class="card-form__expiry">
                <label for="cardExpiry">End Date</label>
                <input type="text" id="cardExpiry" placeholder="01/25" formControlName="expiry" 
                    (focus)="onFocus('expiry')"
                    (blur)="onBlur()"
                    (paste)="onPaste($event)"
                    (keypress)="onMaxLength($event, 5); 
                                onDateKeyPress($event);
                                onNANInput($event);"
                >
            </div>
            <div class="card-form__cvv">
                <label for="cardCvv">CV2</label>
                <input type="text" id="cardCvv" placeholder="000" formControlName="cvv" 
                    (keypress)="onMaxLength($event, 3);
                                onNANInput($event);"
                    (paste)="onPaste($event)"
                    (focus)="onFocus('cvv')" 
                    (blur)="onBlur()"
                >
            </div>
            <div class="card-form__owner">
                <label for="cardOwner">Card Owner</label>
                <input type="text" id="cardOwner" placeholder="John Johnson" formControlName="owner" 
                    (focus)="onFocus('owner')" 
                    (blur)="onBlur()"
                    (paste)="onPaste($event)"
                >
            </div>
            <div class="card-form__agreement">
                <label>
                    <input type="checkbox" formControlName="agreement">
                    I agree with <a href="#">Terms & Conditions</a>
                </label>
            </div>
            <div class="card-form__button">
                <button class="button button_blue card-form__submit" type="submit" [disabled]="!cardInfo.valid"
                    [ngClass]="{'card-form__submit_disabled': !cardInfo.valid}">Pay</button>
            </div>
        </form>
        <div class="card-tooltip">
            <svg width="300" height="200" xmlns="http://www.w3.org/2000/svg" class="card-tooltip__front">
                <style>
                    .text {
                        fill: #283493;
                    }
                </style>
                <title>
                    background
                </title>
                <rect height="202" width="302" y="-1" x="-1" fill="none" />
                <rect height="100" width="100" fill="url(#gridpattern)" />
                <title>
                    Layer 1
                </title>
                <rect rx="9" height="200" width="300" style="fill:#fff;stroke-width:2;stroke:#283493" />
                <path
                    d="m225 55.1l41.4 0 -1.3 2 -38.7 0 -1.4-2zm0.3-26.8l40.8 0 1.2 2.1 -43.2 0 1.2-2zm-4 13.4l48.8 0 -0.1 2.1 -48.8 0 0-2zm48.9 0.2c0 13.7-11 24.8-24.4 24.8 -13.5 0-24.4-11.1-24.4-24.8 0-13.7 11-24.8 24.4-24.8 13.5 0 24.4 11.1 24.4 24.8zm-24.4-26.8c-14.5 0-26.4 12-26.4 26.8 0 14.8 11.8 26.8 26.4 26.8 14.6 0 26.4-12 26.4-26.8 0-14.8-11.8-26.8-26.4-26.8zm7.4 26.8c0 14.6-3.9 24.8-7.4 24.8 -3.5 0-7.4-10.2-7.4-24.8 0-14.6 3.9-24.8 7.4-24.8 3.5 0 7.4 10.2 7.4 24.8zm-7.4-26.8c-6.1 0-9.4 13.8-9.4 26.8 0 13 3.3 26.8 9.4 26.8 6.1 0 9.4-13.8 9.4-26.8 0-13-3.3-26.8-9.4-26.8zm17.3 26.8c0 13.7-7.8 24.8-17.3 24.8 -9.6 0-17.3-11.1-17.3-24.8 0-13.7 7.8-24.8 17.3-24.8 9.6 0 17.3 11.1 17.3 24.8zm-17.3-26.8c-10.6 0-19.3 12-19.3 26.8 0 14.8 8.7 26.8 19.3 26.8 10.6 0 19.3-12 19.3-26.8 0-14.8-8.7-26.8-19.3-26.8z"
                    style="fill-opacity:null;fill:#fff;opacity:0.5;stroke-opacity:null;stroke:#283493" />
                <rect height="40" width="67.4" y="24.9" x="21.7"
                    style="fill-opacity:null;fill:#fff;stroke-opacity:null;stroke-width:null;stroke:#283493" />
                <text font-family="Helvetica, Arial, sans-serif" font-size="22" y="90" x="221" class="text">
                    Bank
                </text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="18" y="126.1" x="63.2" class="text" [ngClass]="{'text_focus': focusInput === 'number'}">
                    0000 0000 0000 0000
                </text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="18" y="152.9" x="190.8" class="text" [ngClass]="{'text_focus': focusInput === 'expiry'}">
                    01&#x2F;25
                </text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="18" y="178.2" x="64.6" class="text" [ngClass]="{'text_focus': focusInput === 'owner'}">
                    John Johnson
                </text>
            </svg>
            <svg width="300" height="200" xmlns="http://www.w3.org/2000/svg" class="card-tooltip__back"
                [ngClass]="{'card-tooltip_hide': focusInput !== 'cvv'}">
                <style>
                    .rect {
                        fill: none;
                        stroke-opacity: null;
                        stroke-width: null;
                        stroke: #283493;
                    }

                    .text {
                        fill: #283493;
                    }
                </style>
                <title>
                    background
                </title>
                <rect height="202" width="302" y="-1" x="-1" fill="none" />
                <rect height="100" width="100" fill="url(#gridpattern)" />
                <title>
                    Layer 1
                </title>
                <rect rx="9" height="200" width="300" style="fill:#fff;stroke-width:2;stroke:#283493" />
                <rect height="40" width="300" y="40"
                    style="fill:#283493;stroke-opacity:null;stroke-width:null;stroke:#283493" />
                <rect height="30" width="150" y="120" class="rect" />
                <rect height="30" width="50" y="120" x="150" class="rect" />
                <text font-family="Helvetica, Arial, sans-serif" font-size="18" y="142" x="100" class="text">
                    CVV
                </text>
                <text font-family="Helvetica, Arial, sans-serif" font-size="22" y="148" x="160" class="text"
                    [ngClass]="{'text_focus': focusInput === 'cvv'}">
                    ***
                </text>
            </svg>
        </div>
    </div>
</div>