<section class="past-trips">
    <div class="trip">
        <div class="trip__id">
            <p>TY63587</p>
        </div>
        <ul class="trip__details-list">
            <li class="trip__details-item">
                <div class="flight-route">
                    <img src="/assets/img/plane_to.svg" class="trip__icon">
                    <span>Kiev (KBP) - Paris (CDG)</span>
                </div>
                <div class="flight-date">
                    <p>17/09/2019</p>
                </div>
            </li>
            <li class="trip__details-item">
                <div class="flight-route">
                    <img src="/assets/img/plane_back.svg" class="trip__icon">
                    <span>Paris (CDG) - Kiev (KBP)</span>
                </div>
                <div class="flight-date">
                    <p>21/09/2019</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="trip">
        <div class="trip__id">
            <p>TY63587</p>
        </div>
        <ul class="trip__details-list">
            <li class="trip__details-item">
                <div class="flight-route">
                    <img src="/assets/img/plane_to.svg" class="trip__icon">
                    <span>Kiev (KBP) - Paris (CDG)</span>
                </div>
                <div class="flight-date">
                    <p>17/09/2019</p>
                </div>
            </li>
            <li class="trip__details-item">
                <div class="flight-route">
                    <img src="/assets/img/plane_back.svg" class="trip__icon">
                    <span>Paris (CDG) - Kiev (KBP)</span>
                </div>
                <div class="flight-date">
                    <p>21/09/2019</p>
                </div>
            </li>
        </ul>
    </div>
</section>