.passenger-form {
    margin: auto;
    font-size: 16px;
}

.passenger-form__text_big {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.passenger-form__text_small {
    margin-bottom: 15px;
}

.passenger-data div {
    display: inline-block;
}

.passenger-data {
    margin-bottom: 100px;
}

input:focus,
select:focus {
    border: 1px solid var(--main-blue);
}

input,
select {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 2px;
}

.passenger-form__label {
    display: block;
    line-height: 30px;
}

.passenger-data__name,
.passenger-data__passport {
    width: 100%;
}

.passenger-data__name {
    margin-bottom: 30px;
}

.passenger-data__passport {
    margin-top: 30px;
}

.passenger-data__name-block,
.passenger-data__passport-block {
    display: inline-block;
    width: calc((100% - 25px) / 2);
}

.passenger-data__name-block:not(:last-child),
.passenger-data__passport-block:not(:last-child) {
    margin-right: 25px;
}

.passenger-data__country {
    width: calc((100% - 25px) / 2);
    margin-right: 25px;
}

.passenger-data__gender {
    width: calc((((100% - 25px) / 2) - 25px) / 3);
    margin-right: 25px;
}

.passenger-data__birth {
    width: calc((((100% - 25px) / 2) - 25px) * 2 / 3);
}

.passenger-form__luggage {
    margin-top: 25px;
}

.passenger-form__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.passenger-form__luggage input {
    width: auto;
}

.passenger-form__button {
    display: flex;
    justify-content: flex-end;
}

.passenger-form__submit {
    padding: 5px 40px;
    font-size: 22px;
    transition: 0.1s;
}

.passenger-form__submit_disabled {
    background-color: grey;
    border: 1px solid grey;
}

.passenger-form__submit_disabled:hover {
    cursor: not-allowed;
    background-color: grey;
    border: 1px solid grey;
    color: white;
}

.card-form__warning {
    width: 100%;
    margin-top: 25px;
    color: red;
    font-style: italic;
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
}

.input_invalid {
    border: 1px solid red;
}

.input_valid {
    border: 1px solid green;
}