<section class="upcoming-trips">
    <div class="trip">
        <div class="trip__id">
            <p>YT54545</p>
        </div>
        <div class="trip__passengers">
            <div class="trip__passengers-text">
                <img src="/assets/img/profile.svg" class="trip__icon">
                <span class="trip__section-title">Passengers</span>
            </div>
            <ul class="passengers-list">
                <li class="passengers-list__item">John Johnson</li>
                <li class="passengers-list__item">Jack Johnson</li>
            </ul>
        </div>
        <div class="trip-details">
            <ul class="trip-details__list">
                <li class="trip-details__item">
                    <div class="flight-route">
                        <img src="/assets/img/plane_to.svg" class="trip__icon">
                        <span>Kiev (KBP) - Paris (CDG)</span>
                    </div>
                    <div class="flight-departure">
                        <p class="trip__section-title">Departure</p>
                        <p>17 Sept. 2019, 10:55</p>
                    </div>
                    <div class="flight-arrival">
                        <p class="trip__section-title">Arrival</p>
                        <p>17 Sept. 2019, 17:55</p>
                    </div>
                </li>
                <li class="trip-details__item">
                    <div class="flight-route">
                        <img src="/assets/img/plane_to.svg" class="trip__icon">
                        <span>Paris (CDG) - Kiev (KBP)</span>
                    </div>
                    <div class="flight-departure">
                        <p class="trip__section-title">Departure</p>
                        <p>21 Sept. 2019, 10:55</p>
                    </div>
                    <div class="flight-arrival">
                        <p class="trip__section-title">Arrival</p>
                        <p>21 Sept. 2019, 17:55</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="trip__button-container">
            <button class="button button_white trip__button trip__download-button">Download PDF</button>
            <button class="button button_blue trip__button trip__send-button">Send On Email</button>
        </div>
    </div>
    <div class="trip">
        <div class="trip__id">
            <p>YT54545</p>
        </div>
        <div class="trip__passengers">
            <div class="trip__passengers-text">
                <img src="/assets/img/profile.svg" class="trip__icon">
                <span class="trip__section-title">Passengers</span>
            </div>
            <ul class="passengers-list">
                <li class="passengers-list__item">John Johnson</li>
                <li class="passengers-list__item">Jack Johnson</li>
            </ul>
        </div>
        <div class="trip-details">
            <ul class="trip-details__list">
                <li class="trip-details__item">
                    <div class="flight-route">
                        <img src="/assets/img/plane_to.svg" class="trip__icon">
                        <span>Kiev (KBP) - Paris (CDG)</span>
                    </div>
                    <div class="flight-departure">
                        <p class="trip__section-title">Departure</p>
                        <p>17 Sept. 2019, 10:55</p>
                    </div>
                    <div class="flight-arrival">
                        <p class="trip__section-title">Arrival</p>
                        <p>17 Sept. 2019, 17:55</p>
                    </div>
                </li>
                <li class="trip-details__item">
                    <div class="flight-route">
                        <img src="/assets/img/plane_to.svg" class="trip__icon">
                        <span>Paris (CDG) - Kiev (KBP)</span>
                    </div>
                    <div class="flight-departure">
                        <p class="trip__section-title">Departure</p>
                        <p>21 Sept. 2019, 10:55</p>
                    </div>
                    <div class="flight-arrival">
                        <p class="trip__section-title">Arrival</p>
                        <p>21 Sept. 2019, 17:55</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="trip__button-container">
            <button class="button button_white trip__button trip__download-button">Download PDF</button>
            <button class="button button_blue trip__button trip__send-button">Send On Email</button>
        </div>
    </div>
</section>