.block-main {
  position: relative;
  padding: 150px 0px 200px 0;
}

.block-main__text-header {
  font-family: sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  font-weight: bold;
  width: 50%;
  margin-bottom: 30px;
  padding-left: 20px;
  line-height: 1.5;
}

.block-main__form {
  width: 100%;
  background: rgba(247, 250, 251, 0.9);
  padding: 20px 20px;
}

.block-form__buttons {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  font-family: sans-serif;
  font-size: 18px;
  color: #283493;
  font-weight: bold;
}

.block-form__mainform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.block-textfields {
  margin-right: 35px;
  margin-left: 10px;
}

.block-textfields label {
  padding: 0 5px;
}

input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

input[type=radio]+label {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
}

input[type=radio]+label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

input[type=radio]+label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #283493;
  opacity: 0;
  transition: .2s;
}

input[type=radio]:checked+label:after {
  opacity: 1;
}

.block-form__textfields {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 30px;
  width: 45%;
}

.block-form__labelfrom,
.block-form__labelto {
  position: relative;
  display: flex;
  align-items: center;
}

.block-form__labelfrom img,
.block-form__labelto img {
  position: absolute;
  left: 25px;
  z-index: 1;
}

.block-form__labelfrom input {
  height: 40px;
  width: 230px;
  border-right: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
}

.block-form__labelto input {
  height: 40px;
  width: 250px;
  border-left: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
}

.block-form__labelfrom input:focus::-webkit-input-placeholder,
.block-form__labelto input:focus::-webkit-input-placeholder {
  color: transparent;
}

.block-form__labelfrom input:focus:-moz-placeholder,
.block-form__labelto input:focus:-moz-placeholder {
  color: transparent;
}

.block-form__labelfrom input:focus::-moz-placeholder,
.block-form__labelto input:focus::-moz-placeholder {
  color: transparent;
}

.block-form__labelfrom input:focus:-ms-input-placeholder,
.block-form__labelto input:focus:-ms-input-placeholder {
  color: transparent;
}


.block-form__button {
  height: 40px;
  width: 60px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: none;
  border-left: none;
  background: #FFFFFF;
  padding: 0;
}

.block-form__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 30px;
  width: 55%;
  margin-left: 25px;
  position: relative;

}

.block-form__passenger {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-form__buttonsearch {
  width: 145px;
  height: 40px;
  background-color: #283493;
  border: none;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.block-form__buttonsearch:hover {
  color: #283493;
  border: 2px solid #283493;
  background-color: #FFFFFF;
}


.block-form__input {
  padding-left: 60px;
  padding-right: 15px;
}

.form-control {
  height: 40px;
  width:250px;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  color: #000000;
  padding-left: 50px;
  padding-right: 15px;
}

.form-control:focus::-webkit-input-placeholder {
  color: grey;
}

.form-control:focus:-moz-placeholder {
  color: grey;
}

.form-control:focus::-moz-placeholder {
  color: grey;
}

.form-control:focus:-ms-input-placeholder {
  color: grey;
}

.block-form__calendar {
  display: flex;
  align-items: center;
  height: 40px;
  width: 250px;
}

.block-calendar__image {
  position: absolute;
  left: 35px;
  top: 8px;
}



.block-form__passenger {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.buttons__passenger {
  display: flex;
  flex-direction: row;
}

.button__countpasenger {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

.block_buttonsincrement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 16px;
  margin-right: 10px;
}

.buttonleft,
.buttonright {
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.arrow_left,
.arrow_right {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.arrow_left {
  transform: scale(-1);
}

@media (max-width: 1350px) {
  .block-form__labelfrom input {
    height: 40px;
    width: 220px;
  }

  .block-form__labelto input {
    height: 40px;
    width: 230px;
  }
  .block-form__button {
    height: 40px;
    width: 60px;
  }

  .block-form__calendar {
    height: 40px;
    width: 250px;
  }

  .block-form__passenger {
    height: 40px;
    width: 200px;
  }

  .block-form__buttonsearch {
    width: 135px;
    height: 40px;
  }
}

@media (max-width: 1320px) {
  .block-form__labelfrom input {
    height: 40px;
    width: 210px;
  }

  .block-form__labelto input {
    height: 40px;
    width: 210px;
  }
  .block-form__button {
    height: 40px;
    width: 50px;
  }

  .block-form__calendar {
    height: 40px;
    width: 250px;
  }

  .block-form__passenger {
    height: 40px;
    width: 200px;
  }

  .block-form__buttonsearch {
    width: 135px;
    height: 40px;
  }

  .block-form__textfields {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 40%;
  }

  .block-form__information {
    width: 55%;
  }
}

@media (max-width: 1250px) {
  .block-form__mainform {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .block-form__textfields {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .block-form__labelfrom input {
    height: 40px;
    width: 250px;
  }

  .block-form__labelto input {
    height: 40px;
    width: 250px;
  }
  .block-form__button {
    height: 40px;
    width: 50px;
  }

  .block-form__calendar {
    height: 40px;
    width: 250px;
  }

  .block-form__passenger {
    height: 40px;
    width: 200px;
  }

  .block-form__buttonsearch {
    width: 135px;
    height: 40px;
  }

  .block-form__textfields {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
  }

  .block-form__information {
    width: 70%;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 1250px) {
  .block-form__mainform {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .block-form__textfields {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .elements1{
    width: 45%;
  }

  .elements2{
    width: 10%;
  }

  .elements3{
    width: 45%;
  }

  .block-form__labelfrom input {
    height: 40px;
    width: 100%;
  }

  .block-form__labelto input {
    height: 40px;
    width: 100%;
  }
  .block-form__button {
    height: 40px;
    width: 100%;
  }

  .block-form__calendar {
    height: 40px;
    width: 250px;
  }

  .block-form__passenger {
    height: 40px;
    width: 200px;
  }

  .block-form__buttonsearch {
    width: 135px;
    height: 40px;
  }

  .block-form__textfields {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
  }

  .block-form__information {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width:992px) {
  .block-form__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .block-form__calendar,
  .block-form__passenger {
    width: 100%;
  }
  .block-form__search {
    width: 50%;
  }

  .block-form__calendar {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
  }

  .form-control {
    width: 100%;
  }

  .block-form__passenger {
    height: 40px;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .block-form__buttonsearch {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width:768px) {
  .block-form__search {
    width: 100%;
  }
  .block-main__text-header {
    font-size: 35px;
    width: 80%;
  }
}

@media (max-width:569px) {
  .block-textfields {
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .block-form__buttons {
    display: flex;
    flex-direction: column;
  }
}
