<div class="block-main">
  <div class="section-wrapper">
    <div class="block-main__text">
      <h1 class="block-main__text-header">
        Life is to short to quit traveling
      </h1>
    </div>
    <form class="block-main__form" [formGroup]="dataGroup" (ngSubmit)="onSubmit()">
      <div class="block-form__buttons">
        <div class="block-textfields">
          <input type="radio" id="return" value="twoWay" value="twoWay" formControlName="typeOfFlight" checked />
          <label for="return">Return</label>
        </div>
        <div class="block-textfields">
          <input type="radio" id="oneway" value="oneWay" formControlName="typeOfFlight" />
          <label for="oneway">One way</label>
        </div>
        <div class="block-textfields">
          <input type="radio" id="multitrip" value="multitrip" formControlName="typeOfFlight" />
          <label for="multitrip">Multi-trip</label>
        </div>
      </div>
      <div class="block-form__mainform">
        <div class="block-form__textfields">
          <div class="block-form__elements">
            <label for="from" class="block-form__labelfrom"><img src="../assets/img/plane_to.svg"> <input
                list="departurefrom" type="text" formControlName="departure" placeholder="Departure City" id="from"
                class="block-form__input">
            </label>
            <datalist id="departurefrom">
              <option *ngFor="let airport of results" value="{{airport.name}}">
            </datalist>
          </div>
          <div class="block-form__elements">
            <button class="block-form__button"><img src="../assets/img/backnforce.svg">
            </button>
          </div>
          <div class="block-form__elements">
            <label for="to" class="block-form__labelto"><img src="../assets/img/plane_back.svg">
              <input list="departureto" type="text" formControlName="arrival" placeholder="Arrival City" id="to"
                class="block-form__input" />
              <datalist id="departureto">
                <option *ngFor="let airport of results" value="{{airport.name}}">
              </datalist>
            </label>
          </div>
        </div>
        <div class="block-form__information">
          <img src="../assets/img/calendar.svg" alt="calendar" class="block-calendar__image" />
          <div class="block-form__calendar">
            <input type="text" formControlName="date" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control"
              [placeholder]="currentDate" />
          </div>
          <div class="block-form__passenger">
            <img src="../assets/img/profile.svg" alt="passengers" />
            <div class="buttons__passenger">
              <button (keyupleft)='onKeyleft($event)'>&lt;</button>
              <div>{{count}}</div>
              <button (keyupright)='onKeyright($event)'>&gt;</button>
            </div>
          </div>
          <div class="block-form__search">
            <button class="block-form__buttonsearch" (click)="onNavigate()">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
