<section class="helper" *ngFor="let helper of helpers" [style.background-image]="'url(' + helper.imgPath + ')'">
  <div class="helper__block">
    <div class="helper__content">
      <h3 class="article-title trip-helper__title">{{helper.name}}</h3>
      <p class="helper__text">{{helper.content}}</p>
      <p class="helper__text">Check out our <a [routerLink]="['../../trip-helper']">trip helper</a></p>
      <button class="helper__button button button-more button_blue">Learn more</button>
    </div>
  </div>
</section>
