.helper {
  background-size: cover;
  background-position: 50% 50%;
  padding: 100px 0;
}

.helper__block {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  background: rgba(255, 255, 255, 0.7);
  padding: 50px 0px;
}

.helper__content {
  position: relative;
  margin-left: auto;
  margin-right: 100px;
}

.helper__title {
  margin-bottom: 15px;
}

.helper__text {
  line-height: 25px;
}

.helper__button-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .helper__block {
    width: 100%;
    justify-content: center;
  }

  .helper__content {
    margin: 0;
  }
}