<section class="trip-helper">
    <div class="trip-helper__block">
        <div class="trip-helper__content">
            <h3 class="article-title trip-helper__title">Don't know where to go yet?</h3>
            <p class="trip-helper__text">We are always here to help you!</p>
            <p class="trip-helper__text">Check out our <a href="#">trip helper</a></p>
            <button class="trip-helper__button button button-more button-more_blue">Learn more</button>
        </div>
    </div>
</section>