.search-results {
    margin: 100px 0;
}

.search-results__title {
    font-size: 32px;
    margin-bottom: 100px;
}

.search-results__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ticket-form {
    line-height: 30px;
    width: 30%;
    margin-right: 100px;
    font-size: 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.ticket-form__finds-number {
    display: block;
    font-weight: bold;
}

.ticket-form label {
    display: block;
}

.ticket-form__finds,
.ticket-form__price,
.ticket-form__duration,
.ticket-form__connections {
    margin-bottom: 50px;
}

.ticket-form__checkbox-text {
    font-size: 18px;
    margin-left: 5px;
}

.ticket-form__filter {
    padding: 10px 40px;
    font-size: 24px;
}

.label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}

.label_blue {
    color: var(--main-dark-blue);
}

.search-results__tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results__button-more {
    margin-top: 75px;
    padding: 10px 50px;
    font-size: 24px;
}

@media (max-width: 1000px) {
    .search-results__container {
        flex-direction: column;
    }

    .search-results__tickets {
        margin-top: 50px;
        align-items: center;
    }
}

.search-results__item:not(:last-child) {
    margin-bottom: 50px;
}

::ng-deep.custom-slider .ng5-slider .ng5-slider-bar {
    background: lightgrey;
    height: 2px;
  }
  ::ng-deep.custom-slider .ng5-slider .ng5-slider-selection {
    background: var(--main-blue);
  }

  ::ng-deep.custom-slider .ng5-slider .ng5-slider-pointer {
    width: 16px;
    height: 16px;
    top: -8px; /* to remove the default positioning */
    bottom: 0;
    background-color: var(--main-dark-blue);
    border-radius: 50%;
  }

  ::ng-deep.custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  ::ng-deep.custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: -30px;
  }

  ::ng-deep.custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: lightgrey;
  }

  ::ng-deep.custom-slider .ng5-slider .ng5-slider-tick {
      display: none;
  }

  ::ng-deep.custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: lightgrey;
  }
