<div class="authorization">
    <div class="authorization__left-side">
        <form class="form validate-form login" [formGroup]="AuthorizationForm" (submit)="onSubmit()">
            <div class="form-container">
                <header class="head-form">
                    <h2>Sign In</h2>
                    <p>Login here using your username and password</p>
                </header>
                <br>
                <div class="form__field-set">
                    <div class="inputs">
                        <span class="input-item">
                            <img src="../assets/img/icons8-user-male.svg" class="authorization__image">
                        </span>
                        <input class="form-input" id="name" type="text" placeholder="UserName" required>
                    </div>
                    <div class="error" *ngIf="isControlInvalid('name')">
                            Please enter valid name
                        </div>
                    <br>
                    <div class="inputs">
                        <span class="input-item">
                            <img src="../assets/img/lock.svg" class="authorization__image">
                        </span>
                        <input class="form-input" type="password" placeholder="Password" id="password" name="password" required>
                    </div>
                    <br>
                    <button class="form__field-set-button"> Sign In </button>
                </div>
            </div>
        </form>
    </div>
    <div class="authorization__right-side">
            <img src="../assets/img/70634.jpg" class="right-side__background">
        </div>
</div>