.booking {
    margin: 100px auto;
    width: 75%;
}

.booking__title {
    margin-bottom: 100px;
}

.booking__section-wrapper {
    width: 75%;
    margin: auto;
}

.booking__tickets {
    margin-bottom: 150px;
}

@media (max-width: 800px) {
    .booking {
        width: 90%;
    }

    .booking__section-wrapper {
        width: 100%;
    }
}