<div class="section-wrapper">
    <section class="booking">
        <h3 class="section-title booking__title">Ticket details & Booking</h3>
        <div class="booking__section-wrapper">
            <div class="booking__tickets">
                <app-booked-ticket></app-booked-ticket>
                <app-booked-ticket></app-booked-ticket>
            </div>
        </div>
        <div class="booking__section-wrapper">
            <div class="booking__form">
                <app-passengers-form></app-passengers-form>
            </div>
        </div>
    </section>
</div>