<div class="ticket">
  <div class="ticket-info">
    <div class="ticket-details">
      <div class="ticket-details__logo"><img src="/assets/img/airfrance.png" alt="Logo"></div>
      <div class="ticket-details__date">
        <div class="ticket-time">
          <span class="ticket-time__start">12:45</span>
          -
          <span class="ticket-time__end">17:45</span>
        </div>
        <time class="ticket-date">
          <span class="ticket-date__day">Tue</span>,
          <span class="ticket-date__month">Sept </span>
          <span class="ticket-date__dayofmonth">21</span>
        </time>
      </div>
      <div class="ticket-details__trip">
        <p class="ticket-details__flight-duration">
          <span class="flight-duration__hours">5</span>h.
          <span class="flight-duration__minutes"> 30</span> min
        </p>
        <div class="ticket-details__route">
          <span class="ticket-details__route-from">Kyiv (KBP)</span>
          <div class="route-details">
            <img src="/assets/img/route-arrow.svg" class="route-details__arrow">
          </div>
          <span class="ticket-details__route-to">Paris (CDG)</span>
        </div>
      </div>
    </div>
    <div class="trip-info">
      <span class="trip-info__dashes"></span>
      <span class="trip-info__text">4 nights in Paris</span>
    </div>
    <div class="ticket-details">
      <div class="ticket-details__logo"><img src="/assets/img/airfrance.png" alt="Logo"></div>
      <div class="ticket-details__date">
        <div class="ticket-time">
          <span class="ticket-time__start">12:45</span>
          -
          <span class="ticket-time__end">17:45</span>
        </div>
        <time class="ticket-date">
          <span class="ticket-date__day">Tue</span>,
          <span class="ticket-date__month">Sept </span>
          <span class="ticket-date__dayofmonth">21</span>
        </time>
      </div>
      <div class="ticket-details__trip">
        <p class="ticket-details__flight-duration">
          <span class="flight-duration__hours">5</span>h.
          <span class="flight-duration__minutes"> 30</span> min
        </p>
        <div class="ticket-details__route">
          <span class="ticket-details__route-from">Kyiv (KBP)</span>
          <div class="route-details">
            <img src="/assets/img/route-arrow-transfer.svg" class="route-details__arrow">
            <p class="route-details__transfer">WAW (2H)</p>
          </div>
          <span class="ticket-details__route-to">Paris (CDG)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ticket__price-block">
    <span class="ticket__price">$123</span>
    <button class="button button-book button_blue">Book</button>
  </div>
</div>
