.my-trips {

}

.my-trips__header {
    padding: 150px 0;
    background: white;
    background-image: url("/assets/img/myTripsBackground.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.header-quote {
    font-family: sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: bold;
    width: 50%;
    line-height: 1.5;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.my-trips__content {
    margin-top: 50px;
}

.my-trips__intro {
    line-height: 35px;
    margin-bottom: 100px;
}

.my-trips__intro-text {
    color: grey;
}

.my-trips__section {
    margin-bottom: 100px;
}

.my-trips__section-title {
    color: var(--main-blue);
    margin-bottom: 25px;
}


@media (max-width: 1024px) {
    .header-quote {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .header-quote {
        width: 100%;
        text-align: center;
        margin-right: 0px;
    }
}
