<section class="my-trips">
    <div class="my-trips__header">
        <div class="section-wrapper">
            <p class="header-quote">Life is too short to quit traveling</p>
        </div>
    </div>
    <div class="my-trips__content section-wrapper">
        <div class="my-trips__intro">
            <h3 class="section-title my-trips__intro-title">My trips</h3>
            <p class="my-trips__intro-text">Keep all your trips in one place.</p>
        </div>
        <div class="my-trips__section">
            <h4 class="section-title my-trips__section-title">Upcoming trips</h4>
            <app-upcoming-trips></app-upcoming-trips>
        </div>
        <div class="my-trips__section">
            <h4 class="section-title my-trips__section-title">Past-trips</h4>
            <app-past-trips></app-past-trips>
        </div>
    </div>
</section>