.special-article {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto 100px;
}

.special-article__image {
  width: 58%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.special-article__content {
  position: relative;
  width: 40%;
}

.special-article__title {
  margin-bottom: 15px;
}

.special-article__text {
  line-height: 26px;
  font-size: 18px;
}

.special-article__button-container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

.special-article--reverse {
  flex-direction: row-reverse;
}

.special-article--reverse .special-article__button-container {
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .special-article {
    flex-direction: column;
    width: 100%;
    margin: 50px auto 100px;
  }

  .special-article__image {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .special-article__content {
    width: 100%;
  }

  .special-article--reverse .special-article__button-container,
  .special-article__button-container {
    margin-top: 15px;
    justify-content: center;
  }
}