<div class="section-wrapper">
    <h2 class="section-title">Special Offers</h2>
    <section class="special">
        <div class="special-article">
            <img src="/assets/img/americanAirlines.jpg" alt="" class="special-article__image">
            <div class="special-article__content">
                <h3 class="article-title special-article__title">American Airlines are on sale!</h3>
                <p class="special-article__text">Use our best fare finder to book your journey to amsterdam on
                    lufthansa.com and save hard cash. In order to find the best-value flights, simply use our best fare
                    finder. Choose your flight to Amsterdam AMS from a wide range of offers.</p>
                <button class="special-article__button button button-more button-more_white">Learn more</button>
            </div>
        </div>
        <div class="special-article special-article--reverse">
                <img src="/assets/img/lufthansa.jpg" alt="" class="special-article__image">
                <div class="special-article__content">
                    <h3 class="article-title special-article__title">American Airlines are on sale!</h3>
                    <p class="special-article__text">Use our best fare finder to book your journey to amsterdam on
                        lufthansa.com and save hard cash. In order to find the best-value flights, simply use our best fare
                        finder. Choose your flight to Amsterdam AMS from a wide range of offers.</p>
                    <button class="special-article__button button button-more button-more_white">Learn more</button>
                </div>
            </div>
    </section>
</div>